{
  "extends": ["@ikscodes/eslint-config"],
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./webpack/tsconfig.json",
      "./test/tsconfig.json"
    ]
  },
  "rules": {
    "import/extensions": 0,
    "no-alert": 0,
    "@typescript-eslint/await-thenable": 0,
    "no-useless-constructor": 0,
    "@typescript-eslint/no-useless-constructor": 0,
    "@typescript-eslint/no-empty-function": 0,
    "import/no-extraneous-dependencies": [1, {"devDependencies": true}]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": [
          "./tsconfig.json",
          "./webpack/tsconfig.json",
          "./test/tsconfig.json"
        ]
      }
    }
  }
}
