# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/.circleci
/.idea
/.vscode
/.github
/scripts
/webpack
/node_modules
/src
/test
/.nyc_output
/coverage
tsconfig.json
.prettierrc.js
.eslintrc
CHANGELOG.md
CONTRIBUTING.md
