name: Canary
on:
  pull_request:
    branches:
      - "master"
  merge_group:
    types: [checks_requested]

env:
  GH_TOKEN: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_CONFIG_PROVENANCE: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    if: "!contains(github.event.head_commit.message, 'skip-release')"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Build
        run: yarn build

      - name: Upload Build Results
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            packages/@magic-ext/*/dist
            packages/@magic-sdk/*/dist
            packages/*/dist
          overwrite: true

  create_canary:
    runs-on: ubuntu-latest
    name: Canary
    permissions:
      contents: read
      id-token: write
    needs: build
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Download Build Results
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: packages

      - name: Create Canary Release
        run: yarn auto canary
