name: Publish
on:
  push:
    branches:
      - 'master'

env:
  GITHUB_TOKEN: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
  GH_TOKEN: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_CONFIG_PROVENANCE: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    if: "!contains(github.event.head_commit.message, 'skip-release')"
    outputs:
      version_bumped: ${{ steps.version-check.outputs.version_bumped }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
          fetch-depth: 0
          fetch-tags: true

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Apply semver updates (if any)
        id: version-check
        run: |
          AUTO_VERSION=$(yarn auto version 2>&1)
          EXIT_CODE=$?
          if [[ $EXIT_CODE -eq 0 && -n "$AUTO_VERSION" ]]; then
            echo "Auto Version: $AUTO_VERSION"
            echo "version_bumped=true" >> $GITHUB_OUTPUT
            if [[ $AUTO_VERSION == pre* ]]; then
              yarn lerna version "$AUTO_VERSION" --no-git-tag-version --no-push --yes --preid "$GITHUB_REF"
            elif [[ $AUTO_VERSION ]]; then
              yarn lerna version "$AUTO_VERSION" --no-git-tag-version --no-push --yes
            fi
          elif [[ $EXIT_CODE -eq 0 ]]; then
            echo "No version bump needed, continuing..."
            echo "version_bumped=false" >> $GITHUB_OUTPUT
          else
            echo "Unable to bump version successfully." && exit 1
          fi

      - name: Build
        run: yarn build

      - name: Upload Build Results
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            packages/@magic-ext/*/dist
            packages/@magic-sdk/*/dist
            packages/*/dist
          overwrite: true

  publish:
    runs-on: ubuntu-latest
    name: Publish
    permissions:
      contents: read
      id-token: write
    needs: build
    if: needs.build.outputs.version_bumped == 'true'
    environment: production
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
          fetch-depth: 0
          fetch-tags: true

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Download Build Results
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: packages

      - name: Create Release
        run: yarn auto shipit
