name: Publish
on:
  push:
    branches:
      - 'master'

env:
  GITHUB_TOKEN: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
  GH_TOKEN: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_CONFIG_PROVENANCE: true

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Build
    if: "!contains(github.event.head_commit.message, 'skip-release')"
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Apply semver updates (if any)
        run: |
          export AUTO_DEBUG=all
          AUTO_VERSION=$(yarn auto version)

          if [[ -z "$AUTO_VERSION" ]]; then
            echo "Unable to bump version successfully." >&2
            exit 1
          fi

          echo "Auto Version: $AUTO_VERSION"

          if [[ $AUTO_VERSION == pre* ]]; then
            yarn lerna version "$AUTO_VERSION" --no-git-tag-version --no-push --yes --preid "$GITHUB_REF"
          else
            yarn lerna version "$AUTO_VERSION" --no-git-tag-version --no-push --yes
          fi

      - name: Build
        run: yarn build

      - name: Upload Build Results
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            packages/@magic-ext/*/dist
            packages/@magic-sdk/*/dist
            packages/*/dist
          overwrite: true

  publish:
    runs-on: ubuntu-22.04
    name: Publish
    permissions:
      contents: read
      id-token: write
    needs: build
    environment: production
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.ARI_ADMIN_PAT_TOKEN }}

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'yarn'

      - name: Install dependencies
        run: |
          yarn -v
          yarn install --immutable

      - name: Download Build Results
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: packages

      - name: Create Release
        run: yarn auto shipit -vv
