name: Tests
concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - "master"
  pull_request:
  merge_group:
    types: [checks_requested]

jobs:
  lint:
    runs-on: ubuntu-22.04
    name: Run linter and package audit
    container:
      image: node:22-slim
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"
      - run: |
          yarn -v
          yarn

      - name: Lint
        run: |
          yarn run build
          yarn run lint

      - name: Audit Production Dependencies
        run: yarn audit --groups dependencies || true

  test:
    runs-on: ubuntu-22.04
    name: Run tests
    container:
      image: node:22-slim
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"
      - run: |
          yarn -v
          yarn

      - name: Test
        run: |
          yarn build
          yarn run test
